
.slider{
    width: 100;
    max-width: 780px;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    }
    .slides{
        display: flex;
        width: 100%;
        animation: slideAnimation 12s infinite;
    }
    .slide{
        width: 100%;
        flex-shrink: 0;
    }
    @keyframes slideAnimation {
        0%{transform: translateX(0);}
        33%{transform: translateX(-100%);}
        66%{transform: translateX(-200%);}
        100%{transform: translateX(0);}
    }
    .slide img{
        width: 100%;
        display: block;
    }
    nav {
        background-color: #ff519a;
        padding: 10px 0;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        position: relative; 
        margin: 0 15px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        display: block;
        transition: color 0.3s;
    }
    
    nav ul li a:hover {
        color: #ffb3d2;
    }
    
    nav ul li .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ff519a;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1; 
        min-width: 160px;
        padding: 0;
    }
    
    nav ul li .dropdown-content li {
        margin: 0;
    }
    
    nav ul li .dropdown-content li a {
        padding: 10px 15px;
    }
    
    nav ul li .dropdown-content li a:hover {
        background-color: #de2270; 
    }
    
    nav ul li:hover .dropdown-content {
        display: block;
    }

.fundo{
    background-color: #ffb3d2;
}

